DB_HOST=127.0.0.1
DB_PORT=27017
DB_USER=
DB_PASS=
DB_NAME=SynCoin
# Any data that will be used to generate tokens
JWT_SECRET=
WEB3_ADDRESS=ws://localhost:8546
# Private key of account to create user accounts and wallets
WALLET_CREATION_KEY=
SHOP_CONTRACT_ADDRESS=0x74449B1434b487a02e5c0A34D728448e0A9707da
# How many ether is one SynCoin? 28800 should average to about 1 SynCoin a day for all miners combined
SYNCOIN_RATE=28800
